<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ escape(handler.settings["blog_title"]) }}</title>
    <link rel="stylesheet" href="{{ static_url("blog.css") }}" type="text/css">
    <link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}">
    {% block head %}{% end %}

  </head>
  <body>
    <div id="body">
      <div id="header">

      <ul>
        <li><a class="active" href="#home">主页</a></li>
        <li><a href="/compose">{{ _("博客") }}</a></li>
        <li><a href="#contact">爬虫</a></li>
        <li><a href="#about">工具</a></li>
        <li><a href="#about">娱乐</a></li>
        <li style="float:right"><a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a></li>
      </ul>

      </div>
      <div id="content">{% block body %}{% end %}</div>
    </div>
    {% block bottom %}{% end %}
  </body>
</html>
